name: test

on:
  workflow_dispatch:
  push:
    branches:
      - "main"
      - "release/*"
    paths:
      - "**"
      - "!docs/**"
      - "!**.md"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: "recursive"

      - name: Install LLVM and Clang
        uses: KyleMayes/install-llvm-action@v2
        with:
          version: "20.1"
          directory: ${{ runner.temp }}/llvm

      - name: Setup rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt

      - name: Setup cargo make
        uses: davidB/rust-cargo-make@v1
        with:
          version: latest

      - name: Setup rust cache
        uses: Swatinem/rust-cache@v2.8.1
        with:
          shared-key: " ${{ matrix.os }}-test"

      - name: Lint
        run: cargo make lint

      - name: Test
        run: cargo test --features "stable-test"
